body{
    background: wheat;
}

.background-img {
  background: url('/website/assets/img/bg.jpg') center bottom / cover no-repeat;
}

.tagline_container {
  height: 40vw; 
}

.title_big {
  font-size: 8vw;
}

.subtitle_big {
  font-size: 4vw; 
}